spring:
  application:
    name: mall-registry-server
  security:
    user:
      name: Anbang713
      password: pwd713
server:
  port: 9010
eureka:
  instance:
    hostname: localhost # 如果需要部署集群，则必须使用域名
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
  client:
    registerWithEureka: false
    fetchRegistry: false
    service-url:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@${eureka.instance.hostname}:${server.port}/eureka/
  server:
    eviction-interval-timer-in-ms: 5000 # 每隔5秒钟，进行一次服务列表的清理